
@import url('https://fonts.googleapis.com/css?family=Karla');

html {
  background-color: rgb(240, 237, 229, .25);
  font-family: 'Karla', sans-serif;
}

#about {
	padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
}

#modal1, #modal2 {
	position: fixed;
	font-family: 'Karla', Helvetica, sans-serif;
	top: 0;
	left: 0;
	background: rgba(185, 186, 189, 0.5);
	z-index: 99999;
	height: 100%;
	width: 100%;
}
.modalcontent1, .modalcontent2 {
	position: absolute;
	top: 350px;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(255, 255, 255);
	width: 500px;
	height: 250px;
	padding: 20px;
	text-align: center;
	outline: 2px solid black;
	box-shadow: 10px 10px black;
}

#button1, #button2 {
	transform: translate(0%, 250%);
	background-color: #0000;
  border: 2px solid black;
  color: #005eec;
  padding: 15px 32px;
  font-size: 10pt;
	font-weight: 500;
	cursor: pointer;
}

.hide1 {
  display: none;
}

#wavesurfer {
	width: 125px;
  height: 125px;
	margin: auto;
	position: relative;
	top: 250px;
}

.progress {
  position: relative;
  width: 150px;
  height: 25px;
  background: red;
  color: yellow;
  line-height: 2.5rem;
}

.current {
  position: absolute;
  width: 0;
  height: 100%;
  background: blue;
  transition: width 0.1s ease;
}

.row {
  display: flex;
  align-items: top;
  justify-content: space-between; 
}

.row > .left,
.row > .right {
  flex: 0 0 auto;
}


.highlight {
  padding: 2px 0;
}

.highlight2{
	color: black;
	padding: 3px 0;
	position: relative;
}

.spinner {
	margin: 100px auto 0;
	width: 70px;
	text-align: center;
  }
  
  .spinner > div {
	width: 3px;
	height: 3px;
	background-color: #333;
  
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
	0%, 80%, 100% { 
	  -webkit-transform: scale(0);
	  transform: scale(0);
	} 40% { 
	  -webkit-transform: scale(1.0);
	  transform: scale(1.0);
	}
  }

#strategyText,
#blank {
	width: 40%;
	font-size: 1.5rem;
	color: #005eec;
	margin: 10vh auto 0;
	text-align: center;
	position: relative;
	top: 100px;
}

#strategyText {
	display: none;  
}
